body {
    font-family: Arial, sans-serif;
    line-height: 2.7;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header img {
    height: 40px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px 0;
}

.model-section {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.model-section h2 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.model-section p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.model-section .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.model-section .btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

.logo {
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 50px; /* La altura se ajustará automáticamente */
}